@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#game-container {
    position: relative;
}

canvas {
    border: 2px solid white;
    background-image: url(imagens/background_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

#gameCanvas {
    width: 800px;
    height: 600px;
}

#score {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive; /* Fonte em estilo pixel */
}

#hearts {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive; /* Fonte em estilo pixel */
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    font-family: 'Press Start 2P', cursive; /* Fonte em estilo pixel */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semitransparente */
    padding: 20px;
    border-radius: 10px;
}

#play-again, #exit-game {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive; /* Fonte em estilo pixel */
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

#play-again:hover, #exit-game:hover {
    background-color: lightgray;
}

.hidden {
    display: none;
}
